 body {
   background-color: #F0EDED;
 }

#sidebar {
  height: 100%;
  width: 175px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 10px;
}

#logo {
  margin-top: 0px;
  width: 100%;
  padding: 0px 19px 0px 19px;

}

.navlinks {
  margin-top: 20px;
  margin-left: 28px;
  font-family: sans-serif;
  font-size: 16px;
}

.navlinks ul {
  padding: 0;
  list-style-type: none;
}

.navlinks ul li {
  font-size: 12px;

}
